.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;
  inset-inline: auto;
  position: absolute;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}